header {
    text-align: center;
    border: 1px solid;
    padding: 15px;
    grid-area: head;
}

body{
    background-color: black;
    color: white;
}


.product {
    grid-area: products;
    border: 1px solid;
    padding: 15px;
}

 .tour{
        grid-area: tour;
        border: 1px solid;
        padding: 15px;
        background-color: purple;
}

.contact{
        grid-area: contact;
        border: 1px solid;
        padding: 15px;
        
    

 }

 .top {
    display: grid;
    grid-template-areas: 
    'head head head head'
    'disco products tour contact';
}

.disco {
    grid-area: disco ;
    border: 1px solid;
    padding: 15px;
}

a {
    color: inherit;
}

div {
    text-align: center;
    padding-top: 10%;
    font-size: 200%;
}